<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=sDTarbjgPt3uM-mDDIDsbfj6djozAMluQhJzkgCCYijub1swXZmLR2QodmdFgZ8Sb8vgGbAQh52HKECTXvaIHBO0DqSQHRuJ4wu_Ljs7ydWO_r153IGN2WYfaLNHkpZzxe6xgzCc6SLAoUlt4ZyLdqmLj-Az8gUJ1wKY1TB1NaKEsVhu73UfWBTCByxtSMOcabyviCi7h19VF37H_V_eJaealZJpWFMJwdQXhUfvTnsAyuwHAFfwtN6d8tnB_eo09ulYViosi94So655Q0WoMA" charset="UTF-8"></script><script src="https://cdn.tailwindcss.com"> </script>
    <title>Enviado</title>
</head>
<body class="bg-gradient-to-r from-[#D70026] to-[#EDB83D] ">
   
    <div>

      

    </div>
   
   
    <div class="flex items-center justify-center gap-12 h-screen">

        <p class="text-white text-4xl"> Mensaje enviado con éxito</p>  <img src="../static/casco-de-bombero.png" >

    </div>

    

</body>
</html>